<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160318003-HitTest-Basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5260C501C9BF8BE004ED766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5260C691C9BF8BE004ED766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5260C741C9BF8BE004ED766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
